########################################
# terraform.tfvars.example (copy to terraform.tfvars and fill values)
########################################
# tenancy_ocid      = "ocid1.tenancy.oc1..xxxxx"
# compartment_ocid  = "ocid1.compartment.oc1..xxxxx"   # often same as tenancy for root compartment
# user_ocid         = "ocid1.user.oc1..xxxxx"
# fingerprint       = "aa:bb:cc:dd:..."
# private_key_path  = "~/.oci/oci_api_key.pem"
# region            = "eu-frankfurt-1"                 #Home region for Always Free
#
# ssh_public_key    = "ssh-ed25519 AAAA... you@host"
# my_ip             = "203.0.113.7/32"                 # restrict SSH to your IP
# allow_http_https  = false                            # set true if hosting web traffic
#
# shape             = "VM.Standard.A1.Flex"             # or "VM.Standard.E2.1.Micro"
# ocpus             = 1                                   # only for A1
# memory_in_gbs     = 6                                   # only for A1
# instance_count    = 1
# boot_volume_size_gbs = 50
# hostname_prefix   = "freevm"